@model IEnumerable<SalesWebMvc.Models.Especialista>
@{
    ViewData["Title"] = "Especialistas";
}

<h2>@ViewData["Title"]</h2>

<table class="table table-striped table-responsive table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeDoutor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.especialidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelId => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelNomeDoutor => item.NomeDoutor)
            </td>
            <td>
                @Html.DisplayFor(modelEspecialidade => item.especialidade)
            </td>
            <td>
                @Html.DisplayFor(modelSalario => item.Salario)
            </td>
        </tr>
        }
    </tbody>
</table>

