@model SalesWebMvc.Models.Consulta

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Consulta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Data):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model =>model.Especialista.Nome):
        </dt>
        <dd>
            @Html.DisplayFor(model =>model.Especialista.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model =>model.Cliente.Nome):
        </dt>
        <dd>
            @Html.DisplayFor(model =>model.Cliente.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model =>model.Cliente.NumeCel):
        </dt>
        <dd>
            @Html.DisplayFor(model =>model.Cliente.NumeCel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-default"asp-route-id="@Model.Id">Editar</a>
    <a asp-action="Index" class="btn btn-default">Voltar</a>
</div>
