@model IEnumerable<SalesWebMvc.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h2>Clientes</h2>

<p>
    <a asp-action="Create" class="btn btn-default">Novo Cliente</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model =>model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model =>model.DataNasci)
            </th>
            <th>
                @Html.DisplayNameFor(model =>model.NumeCel)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelId =>item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelDataNasci =>item.DataNasci)
            </td>
            <td>
                @Html.DisplayFor(modelNumeCel =>item.NumeCel)
            </td>
        </tr>
}
    </tbody>
</table>
